{% extends '@EasyAdmin/layout.html.twig' %}
{% block configured_stylesheets %}
    {{ encore_entry_link_tags('admin') }}
{% endblock %}

{% block configured_javascripts %}
    {{ encore_entry_script_tags('admin') }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="lead">Importation d'utilisateurs par fichier CSV</h1>
        {{ form_start(form) }}
            {{ form_row(form.importation) }}
        <div class="col-md-1">
            {{ form_row(form.importer) }}
        </div>
        {{ form_end(form) }}
        <audio id="myMusic" src="/mp3/elevator.mp3" loop=""></audio>
        <div class="loader">

            <ul class="loading">
                <li></li>
                <li></li>
                <li></li>
            </ul>

        </div>
        <img src="https://c.tenor.com/Nqprp3RBVCsAAAAd/911-los-angeles.gif" id="imgAttente" style="display: none" alt="">

        {% if isPost %}
        <div class="row">
            <div class="col align-self-center">
                <table class="table table-bordered table-responsive">
                    <tbody>
                    <h3>Liste des utilisateurs non enregistés :</h3>
                    {% if utilisateursExistants |length > 0 %}
                        {% for utilisateur in utilisateursExistants %}
                            <tr>
                                <td>{{ utilisateur.pseudo }}</td>
                                <td>{{ utilisateur.email }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="8">Aucun utilisateur non inscrit</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}

