{% extends 'base.html.twig' %}

{% block body %}
    <a href="javascript:history.go(-1)">
        <i class="bi bi-arrow-bar-left" style="font-size:48px;color:blue; "></i>
    </a>
    <div class="container">
        <div class="row">
            <div class="col align-self-center">
                <h1>{{ utilisateur.pseudo }}</h1>
                <img src="/photos/{{ utilisateur.photo }}" alt="Photo de {{ utilisateur.pseudo }}">

                <br/>
                <table class="table table-bordered table-responsive">
                    <tbody>
                        <tr>
                            <th scope="row">Prénom</th>
                            <td>{{ utilisateur.prenom }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Nom</th>
                            <td>{{ utilisateur.nom }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Téléphone</th>
                            <td>{{ utilisateur.telephone }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>{{ utilisateur.email }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Ville de rattachement</th>
                            <td>{{ utilisateur.ville.nom }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}