{% block body %}
    <div class="container">
        <div class="row">
            <div class="col" style="text-align:left">
                {{ form_start(form) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.date) }}
                {{ form_row(form.dateCloture) }}
                {{ form_row(form.duree) }}
                {{ form_row(form.nombrePlaces) }}
                {{ form_row(form.description) }}
                {{ form_row(form.ville) }}
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Nouveau lieu...
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                {{ form_row(form.latitude) }}
                                {{ form_row(form.longitude) }}
                                {{ form_row(form.rue) }}
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Choisir un lieu déjà existant
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                {{ form_row(form.lieu) }}
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Sauvegarde</button>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}