{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <strong>Date du jour : </strong>{{ "now"|date("d/m/Y") }}
                <br/>
                <strong>Organisateur : </strong>{{ app.user.prenom }}
                <br/>
            </div>
        </div>
        {{ form_start(form) }}
        <div class="form-row">
            <h4>Filtrer les sorties</h4>

            <div class="col-md-4 mb-3">
                {{ form_row(form.ville) }}
                {{ form_row(form.nom) }}
            </div>
            <div class="col-md-4 mb-3">
                {{ form_row(form.debut) }}
                {{ form_row(form.fin) }}
            </div>
            <div class="col-md-4 mb-3">
                {{ form_row(form.isOrganisateur) }}
                {{ form_row(form.isInscrit) }}
                {{ form_row(form.isNotInscrit) }}
                {{ form_row(form.isPassee) }}
            </div>

        </div>
        {{ form_end(form) }}
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/Places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for sortie in sorties %}
                {% set isInscrit = false %}
                {% for participant in sortie.participants %}
                    {% if participant.pseudo == app.user.pseudo %}
                        {% set isInscrit = true %}
                    {% endif %}
                {% endfor %}
                <tr>
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.date ? sortie.date|date("d/m/Y") : '' }}</td>
                    <td>{{ sortie.dateCloture ? sortie.dateCloture|date("d/m/Y") : '' }}</td>
                    <td>{{ sortie.nombrePlaces }}</td>
                    <td>{{ sortie.etat }}</td>
                    <td>{% if isInscrit == true %}X{% endif %}</td>
                    <td><a href="{{ path('utilisateur_info', {'utilisateur': sortie.createur.id}) }}">{{ sortie.createur.prenom }} {{ sortie.createur.nom }}</a></td>
                    <td>
                        <a href="{{ path('sortie_show', {'sortie': sortie.id}) }}" class="btn btn-primary">Afficher</a>
                        {% if app.user.id == sortie.createur.id %}
                            <a href="{{ path('sortie_edit', {'sortie': sortie.id}) }}" class="btn btn-primary">Modifier</a>
                        {% else %}

                            {% if isInscrit == true %}
                                <button class="btn btn-primary" id="desistement" name="desistement" value="{{ sortie.id }}">Se désister</button>
                            {% endif %}

                            {% if isInscrit == false and date() < date(sortie.dateCloture) %}
                                <button class="btn btn-primary" id="inscription" name="inscription" value="{{ sortie.id }}" >S'inscrire</button>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucune sortie disponible</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('sortie_new') }}" class="btn btn-primary">Créer une nouvelle sortie</a>
    </div>
{% endblock %}
