{% block body %}
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('sortie_index') }}" style="padding-left:50px; padding-right:50px"><i class="bi bi-globe"></i> Sortir.com</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarText">
            <ul class="navbar-nav mr-auto">

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <span class="navbar-text"><strong>Bonjour {{ app.user.prenom }} !</strong></span>

                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="{{ path('sortie_index') }}">Accueil</a>
                    </li>

                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="{{ path('utilisateur_edit', { 'utilisateur': app.user.id }) }}">Mon profil</a>
                    </li>

                    {% if is_granted('ROLE_ADMIN') %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Admin
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
{#                                <a class="dropdown-item" href="{{ path('admin_lieux') }}">Gérer les lieux</a>#}
{#                                <a class="dropdown-item" href="{{ path('admin_villes') }}">Gérer les villes</a>#}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{ path('admin') }}">Admin</a>
                            </div>
                        </li>

                    {% endif %}

                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="{{ path('app_logout') }}">Déconnexion</a>
                    </li>

                {% else %}

                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="{{ path('app_register') }}">S'inscrire</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" href="{{ path('app_login') }}">Se connecter</a>
                    </li>

                {% endif %}

            </ul>
        </div>
    </nav>
{% endblock %}